.firstScreen {
  position: relative;
  // height: calc(100vh - var(--header-height));
  height: 100vh;
  // margin-top: var(--header-height);
  background: red;
}

.bookingContainer {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
