.app_dark_theme {
  --bg-color: #161515;
  --inverted-bg-color: #fff;
  --primary-color: #d98159;
  --secondary-color: #5fa077;
  --inverted-primary-color: #161515;
  --inverted-secondary-color: #161515;

  // skeleton
  --skeleton-color: #161515;
  --skeleton-shadow: #161515;

  // code
  --code-bg: #161515;

  // card
  --card-bg: #161515;

  // listbox
  --listbox-bg: #161515;
}
