:root {
  --bg-color: #fff;
  --inverted-bg-color: #fff;
  --primary-color: #161515;
  --secondary-color: #161515;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #5fa077;
  // --inverted-primary-color: #d98159;
  // --inverted-secondary-color: #5fa077;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #fff;

  // listbox
  --listbox-bg: #fff;
}
