.header {
  position: fixed;
  z-index: 2;

  width: 100%;
  height: var(--header-height);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 20px;
}

.isSticky {
  background-color: var(--inverted-bg-color);
}
